@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
* {
    box-sizing: border-box;
    font-family: Raleway;
    font-size: medium;
}

html,
body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: rgb(136, 74, 74);
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: .9em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 3%;
}

.main-header {
    background-color: #97858538;
    background-image: url("Images/g7.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.site-name {
    text-align: center;
    margin: 0;
    font-family: "Charlemagne Std Bold";
    font-weight: bold;
    color: white;
}

.site-name-large {
    font-size: 4em;
}

.about-site-image {
    float: left;
    height: 400px;
    width: 350px;
    margin: 15px;
    border-radius: 50%;
}

.map-image {
    padding: 2em;
    height: 500px;
    width: 1000px;
    margin: 15px;
}

.about-size {
    font-size: 6mm;
    padding-right: 12mm;
    word-spacing: .5mm;
}